body{
    background-color: black;
    color: white;
    font-size: x-large;
}

#welcomeLetter{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.players{
    margin-left: 100px;
}

.hidden{
    display: none;
}

.btn{
    border-radius: 10px;
}

#player1name, #player2name{
    border-radius: 5px;
}

.playerCorner{
    position: absolute;
    top: -3%;
    left: 1%;
    border: 3px solid gold;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(218, 165, 32, 0.5);
    color: rgb(0, 0, 0);
}

#kezdo{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    font-size: 80%;
}

input{
    font-size: 80%;
    width: 150px;
    text-align: center;
    border-radius: 5px;
}

select{
    font-size: 80%;
    border-radius: 5px;
}

#player1Game{
    text-align: center;
}

#player1Difficulty{
    font-size: 120%;
}

#player1Game{
    position: absolute;
    top: 5%;
    right: 0%;
    left: 0%;
}

#begginBtn{
    font-size: xx-large;
}

#result{
    text-align: center;
    margin-top: 15%;
}

#tippLines{
    position: absolute;
    left: 10%;
    top: 20%;
}

#previousGuesses {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    max-height: 205px;
    overflow-y: auto;
}

#previousGuesses div {
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #444;
}

#playersnames{
    position: absolute;
    left: 31%;
    top: 23.5%;
}















